* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}
/*-- Common ---*/
a {
  text-decoration: none;
}

.content {
  width: 1110px;
  max-width: calc(100vw - 48px);
  margin-left: auto;
  margin-right: auto;
}

.action-link {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 21px;
  color: var(--primary-color);
}

.button {
  display: inline-block;
  min-width: 98px;
  padding: 18px 0;
  color: #ffffff;
  background: var(--primary-color);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 21px;
  text-align: center;
  border-radius: 8px;
}

.button:hover {
  opacity: 0.8;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*---HEADER----*/
.header {
  background-color: #e6f0ff;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4em;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar .action-button {
  padding: 9px 22px 10px 23px;
  margin-left: 18px;
}

.navbar ul a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.navbar .action-link:hover {
  color: blue;
  text-decoration: underline;
}

.navbar .action-button:hover {
  opacity: 0.6;
}

.hero {
  margin-top: 130px;
  width: 51%;
}

.hero .sub-title {
  margin-top: 8px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero .title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.1875;
  /* or 119% */

  color: #000336;
}

.hero .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  /* or 178% */

  text-transform: capitalize;
  color: #5a6473;
}

.hero-cta {
  margin-top: 40px;
  min-width: 170px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  padding: 15px 38px;
  border-radius: 12px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2);
  bottom: 0;
}
/*------ Clients --------*/
.clients {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.clients .desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25px;
  color: #7d8589;
}
.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.clients .images a {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 42px;
  border-radius: 12px;
}

.clients .images a:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/*-----Guides-----*/
.guides {
  margin-top: 104px;
  padding: 93px 0 80px;
}

.guides .sub-title {
  position: relative;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  color: #000339;
}

.guides .sub-title::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 41px;
  height: 4px;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #000339;
  border-radius: 12px;
}

.guides .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 460px;
  margin: 0 auto;
  text-align: center;
  color: #5a6473;
}

/* my style*/
.list-guide {
  margin-top: 41px;
  padding: 110px 0;
  display: flex;
  justify-content: center;
}
.list-guide .guide-item .title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  color: #3b3c45;
}

.list-guide .guide-item .link {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #0689ff;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .arrow {
  margin-left: 4px;
}

.guide-cta {
  margin-top: 64px;
  text-align: center;
}

.guide-cta .button {
  display: inline-block;
  width: 170px;
  max-width: 100%;
  padding: 14px 24px 16px 25px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  border-radius: 12px;
  color: #ffffff;
}

/*----Features---*/
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background-color: #f5fafe;
}

.featured .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  color: #000339;
}

.featured .link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #0689ff;
}

.featured .arrow {
  margin-left: 8px;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9;
  color: #5a6473;
}

.featured .title a {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: #000339;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 22px;
}

.featured .item .desc {
  --line-clamp: 3;
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #a3a6ab;
  word-break: break-all;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #4d4d52;
}

.featured .item .icon:not(:first-child) {
  margin-left: 23px;
}

/*------Stats------*/
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .content {
  width: 1048px;
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  border-radius: 12px;
  object-fit: cover;
}

.stats .sub-title {
  position: relative;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.3;

  color: #000339;
}

.stats .sub-title::before {
  position: absolute;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
  top: -10px;
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9;
  color: #5a6473;
}

.stats .img-block {
  position: relative;
}

.stats .stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 22px 40px;
  width: 239px;
  border-radius: 0px 0px 12px 12px;
  background-color: #ffffff;
}

.stats .stats-trend .value {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #000339;
}

.stats .stats-trend .desc {
  margin-top: 8px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #a7a7a7;
}

.stats .seperate {
  margin-top: 26px;
  height: 1.2px;
  background: #e9e9e9;
}

.stats .icon {
  margin-left: auto;
}

.stats .avatar-block {
  margin-top: 26px;
  display: flex;
  gap: 14px 16px;
  flex-wrap: wrap;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar {
  height: 16px;
  width: 16px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color, #fff);
  font-weight: 450;
  font-size: 0.7rem;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.stats .avatar:first-child {
  margin-left: 0;
}

.stats .row-qty {
  margin-top: 110px;
  justify-content: space-between;
  padding: 0 32px;
}

.stats .qty {
  font-weight: 600;
  font-size: 6.4rem;
  color: #000000;
}

.stats .qty-desc {
  margin-top: 22px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #7b8087;
}

/*----Subscription*/
.subscription {
  margin-top: 51px;
}

.subscription .body {
  position: relative;
  height: 370px;
  background: #063183;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.subscription .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
}

.subscription .desc {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9;
  color: #ffffff;
  opacity: 0.75;
}

.subscription .sub-button {
  min-width: 151px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #002366;
  background: #ffffff;
}

.subscription .info {
  padding: 0 80px;
  width: 671px;
  max-width: 100%;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 220px;
}

/*---- Footer----*/
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}
.footer .row {
  display: flex;
}

.footer .row-top {
  gap: 185px;
}

.footer .heading {
  font-family: "Lato";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  color: #1c1c1d;
}

.footer .item a,
.footer .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #7a7a7e;
  white-space: nowrap;
}

.footer .desc {
  white-space: normal;
}

.footer .list,
.footer .desc {
  margin-top: 42px;
}

.footer .item {
  margin-top: 18px;
}

.footer .social {
  display: flex;
  margin-top: 40px;
}

.footer .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}

.footer .social-link:hover {
  border: 2px solid blue;
  background: #ddddee;
}

.footer .row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.footer .copyright {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #c2c2c2;
}
